<h1>Tu y es preque !</h1>

<%= form_tag(static_pages_surprise_path) do %>
  <%= text_field_tag 'question', nil, placeholder: "Question" %><br>
  <%= text_field_tag 'answer', nil, placeholder: "Réponse" %><br>
  <br>
  <%= submit_tag "Valider" %>
<% end %>